<template>
  <div @mousemove="setCursor" @click="addDrop" id="layout-cont" class="transition duration-500 ease-in" :class="{'dark': darkMode}">
    <div class="flex justify-between p-5 absolute top-0 left-0 w-full z-50">
      <div class="left">
        <div class="mb-2">
          <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
              <input @click="toggleInteractions" type="checkbox" name="toggle" id="toggle" class="hover toggle-checkbox absolute block w-6 h-6 rounded-full bg-app border-4 appearance-none cursor-pointer"/>
              <label for="toggle" class="hover toggle-label block overflow-hidden h-6 rounded-full bg-gray-800 cursor-pointer"></label>
          </div>
            <label class=" text-xs">
                <template v-if="showClicks==false">
                  Show All Interactions
                </template>
                <template v-else>
                  Hide Interactions
                </template>
            </label>
        </div>
        <div class="mb-2">
          <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
              <input @click="toggleDarkmode" type="checkbox" name="toggle-dark" id="toggle-dark" class="hover toggle-checkbox absolute block w-6 h-6 rounded-full bg-app border-4 appearance-none cursor-pointer"/>
              <label for="toggle-dark" class="hover toggle-label block overflow-hidden h-6 rounded-full bg-gray-800 cursor-pointer"></label>
          </div>
          <label class=" text-xs">
          
            <template v-if="darkMode==false">
              Dark Mode.
            </template>
            <template v-else>
              Light Mode.
            </template>
          </label>
        </div>
      </div>
      <div>
        
      </div>
    </div>
    <div class="cursor" id="cursor_circle" ref="cursor_circle">
      <div class="cursor__circle">
        <svg height="64" width="64" ref="circle_principal" class="transition duration-500 ease-in">
          <circle cx="32" cy="32" r="16" class="circle_principal" ></circle>
          <circle class="circle_pointer" id="circle_pointer" cx="32" cy="32" r="2"></circle>
        </svg>
      </div>
    </div>
    <div class="interactions absolute w-full overflow-hidden h-full" v-show="showClicks">
      <div class="click" v-for="click in clicks" :key="click.index" :style="{'left':click.x+'%','top':click.y+'%'}" >  </div>
    </div>
    <div id="drops">
      <div class="drop" v-for="drop in drops" :key="drop.index" :style="{'left':drop.x+'px','top':drop.y+'px'}" >  </div>
    </div>
    <Nuxt />
    <center>
      <p>Thank you for being here.</p>
      <div style="height:1px;" class="w-32 m-auto mt-1 bg-app-second"></div>
    <br><br>
    </center>
  </div>
</template>
<script>
export default {
  data(){
    return{
      showClicks: false,
      darkMode: false,
      hasFirebaseDrops: false,
      drops:[
      ],
      clicks:[]
    };
  },
  mounted: function() {
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        this.darkMode = true;
    }
  },
  methods:{
    addDrop(e){
      // if(this.drops.length>10){
      //   this.drops.shift();
      // }
      var db = this.$fire.firestore;
      var drop = this.drops.push({x: e.pageX-12, y: e.pageY-12}); 
      var porcentajeX= ((e.pageX-12) / window.innerWidth)*100;
      var porcentajeY= ((e.pageY-12) / window.innerHeight)*100;
      var click = this.clicks.push({x: porcentajeX, y: porcentajeY}); 
      db.collection('clicks').add({x: porcentajeX, y: porcentajeY});
      console.log(porcentajeX);
    },
    setCursor(e){
      
      var x = e.pageX;
      var y = e.pageY;
      var circle = this.$refs.cursor_circle;
      var circle_principal = this.$refs.circle_principal;
      var scale = 1;
      var hover = e.target.classList.contains("hover");
      if(hover){
        scale = 1.7;
      }
      circle.style.left = x-16+"px";
      circle.style.top = y-16+"px";
      circle_principal.style.transform = "scale("+1*scale+")";
      
      // gsap.to("#circle_pointer", {x: x-16,y: y-16, duration: 1});
    },
    enterOver(e){
      console.log("enttro");
    },
    toggleInteractions(e){
      if(this.showClicks==false && this.hasFirebaseDrops==false){
        var db = this.$fire.firestore;
          db.collection('clicks').get()
          .then((querySnapshot) => {
            this.hasFirebaseDrops = true;
            console.log("traigo clicks");
            querySnapshot.forEach((doc) => {
              var data = doc.data();
              this.clicks.push({
                x: data.x,
                y: data.y,
              })
            })
          });
      }
      this.showClicks = !this.showClicks;
    },
    toggleDarkmode(e){
      this.darkMode = !this.darkMode;
    }
  }
}
</script>
<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  cursor:none;
}

body {
 font-family: 'Open Sans', sans-serif;
 font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.container {
  padding-top: 100px;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#layout-cont{
  background-color: rgb(238, 238, 238);
}

#layout-cont.dark{
  background-color: rgb(14, 14, 14);
}

#layout-cont .bg-app{
  background-color: rgb(238, 238, 238);
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}


#layout-cont.dark .bg-app{
  background-color: rgb(14, 14, 14);
}

#layout-cont .bg-app-2{
  background-color: rgb(231, 231, 231);
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

#layout-cont.dark .bg-app-2{
  background-color: rgb(19, 19, 19);
}

#layout-cont .text-app-second{
  color: #4ecff5 !important;
}

#layout-cont.dark .text-app-second{
  color: #a04bff !important;
}

#layout-cont .bg-app-second{
  background-color: #4ecff5 !important;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

#layout-cont.dark .bg-app-second{
  background-color: #a04bff !important;
}

#layout-cont .border-app{
  border-color: rgb(14, 14, 14);
}

#layout-cont.dark .border-app{
  border-color: rgb(238, 238, 238);
}

#layout-cont h1,#layout-cont h2,#layout-cont h3,#layout-cont h4,#layout-cont h5,#layout-cont h6,#layout-cont p,#layout-cont span,#layout-cont a,#layout-cont ul,#layout-cont li,#layout-cont label{
  color: rgb(14, 14, 14);
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

#layout-cont.dark h1,#layout-cont.dark h2,#layout-cont.dark h3,#layout-cont.dark h4,#layout-cont.dark h5,#layout-cont.dark h6,#layout-cont.dark p,#layout-cont.dark span,#layout-cont.dark a,#layout-cont.dark ul,#layout-cont.dark li,#layout-cont.dark label{
  color: rgb(238, 238, 238);
}

#layout-cont .button--app {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(14, 14, 14);
  text-decoration: none;
  padding: 10px 30px;
}

#layout-cont .button--app:hover {
  color: rgb(238, 238, 238) !important;
  background-color: rgb(14, 14, 14);
}

#layout-cont.dark .button--app {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid rgb(50, 50, 50);
  color: rgb(238, 238, 238);
  text-decoration: none;
  padding: 10px 30px;
}

#layout-cont .button--app.bg-app-second{
  color: rgb(14, 14, 14) !important;
}

#layout-cont.dark .button--app:hover {
  color: rgb(14, 14, 14) !important;
  background-color: rgb(238, 238, 238)
}

#layout-cont .button--app-second {
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(14, 14, 14) ;
  color: rgb(238, 238, 238);
  text-decoration: none;
  padding: 10px 30px;
}

#layout-cont .button--app-second:hover {
  color: rgb(14, 14, 14) !important;
  background-color: rgb(238, 238, 238);
}

#layout-cont.dark .button--app-second {
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
  color: rgb(14, 14, 14);
  text-decoration: none;
  padding: 10px 30px;
}

#layout-cont.dark .button--app-second:hover {
  color: rgb(238, 238, 238) !important;
  background-color: rgb(14, 14, 14);
}

a.hover:hover {
  transform: scale(1.2);
}

.cursor {
  pointer-events: none;
  position: absolute;
}
.cursor__circle {
  position: absolute;
  top: -16px;
  left: -16px;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor__circle circle.circle_principal {
  fill: #fff;
}
.cursor__circle circle.circle_pointer {
  fill: #000;
}
.interactions{
  pointer-events: none;
}
#layout-cont .click{
  position: absolute;
  width: 24px;
  height: 24px;
  background: #4ecff5;
  border-radius: 100%;
  opacity: 0.1;
  box-shadow: #000;
  pointer-events: none;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 800ms;
}
#layout-cont.dark .click{
  background: #a04bff;
  opacity: 0.1;
}
#layout-cont .drop{
  position: absolute;
  width: 24px;
  height: 24px;
  border: solid black 1px;
  border-radius: 100%;
  animation: dropAnimation linear 2s ;
  opacity: 0;
  pointer-events: none;
}

#layout-cont.dark .drop{
  border: solid white 1px;
}
@keyframes dropAnimation {
  0%   {transform:scale(1);opacity:1;}
  75% {transform:scale(1.6);opacity:0.1;}
  100% {transform:scale(2.3);opacity:0;}
}
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox {
      border-color: #2e3748;
}
.toggle-checkbox:checked {
  right: 0;
  border-color: #4ecff5;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #4ecff5;
}
.dark .toggle-checkbox:checked {
  right: 0;
  border-color: #a04bff;
}
.dark .toggle-checkbox:checked + .toggle-label {
  background-color: #a04bff;
}
@media screen and (max-width: 800px) {
  html{
    cursor:default;
  }
    .cursor{
      display: none !important;
    }
}
</style>

