<template>
  <div class="container p-5">
    <div class="flex justify-between w-full">
        
    </div>
    <div class="p-2 md:p-10">
        
        <div class="relative">
            <NuxtLink to="/" class="absolute top-0 left-0 text-4xl hover">
                <
            </NuxtLink>
            <h1 class="text-3xl">About</h1>
            <div style="height:1px;" class="w-32 m-auto mt-1 bg-app-second"></div>
        </div>
        
        <div class="grid grid-cols-1 gap-4 mt-10 mb-10 md:grid-cols-3">
            <div class="col-span-2">
            <div class="p-4 text-left">
                <img src="andres-arcila.jpeg" alt="" class="w-32 mx-auto mb-5 rounded-3xl">
                <p class="w-full text-center"><strong class="text-xl">Hello, let´s work together !!</strong></p>
                <br>
                <p>Im a interactive media designer with experience on development, with 6 year of working hours on frontend (Vue/Angular/Plain HTML5) and backend (Laravel Framework) and 2 years in Ux Design / Product Design (Figma).
                <br><br>
                This combination of qualities make me understand the dimentions of the proyect and be there for end to end, from the prototype to your final product.
                <br>
                <br><br>
                <strong>Let's bring your idea to the digital world</strong>
                </p>
                <br><br>
                <NuxtLink to="/work-with-me" class="w-full my-2 text-center button--app-second hover md:w-auto">
                    Work With Me
                </NuxtLink>
                <NuxtLink to="/experience" class="w-full my-2 text-center button--app hover md:w-auto">
                    Continue with my Experience
                </NuxtLink>
                <NuxtLink to="/portfolio" class="w-full my-2 text-center button--app hover md:w-auto">
                    Let´s see my Work
                </NuxtLink>
            </div>
            </div>
            <div class="col-span-1">
                <h3 class="font-bold"><strong>Skills</strong></h3>
                <div v-for="skill in skills" :key="skill.index"  class="pt-1">
                <h2 class="w-full text-sm text-left text-app">- {{skill.title}}</h2>
                <div class="flex h-1 mb-4 overflow-hidden text-xs rounded bg-app-2">
                    <div :style="{width:skill.value+'%'}" class="flex flex-col justify-center text-center text-white shadow-none whitespace-nowrap bg-app-second"></div>
                </div>
                </div>
            </div>
            </div>
            
        </div>
    </div>
</template>

<script>
export default {
  data(){
    return{
        skills:[
            {
                title: 'Design Thinking',
                value: 100,
            },
            {
                title: 'HTML5',
                value: 100,
            },
            {
                title: 'UX',
                value: 100,
            },
            {
                title: 'UI',
                value: 100,
            },
            {
                title: 'Sass',
                value: 100,
            },
            {
                title: 'Bootstrap/Tailwind/Materialize',
                value: 100,
            },
            {
                title: 'Laravel',
                value: 80,
            },
            {
                title: 'Firebase',
                value: 80,
            },
            {
                title: 'Node/Express',
                value: 30,
            },
            {
                title: 'VueJs',
                value: 70,
            },
            {
                title: 'Angular',
                value: 50,
            },
            {
                title: 'React',
                value: 30,
            },
            {
                title: 'Svelte',
                value: 30,
            },
            {
                title: 'Nuxt',
                value: 70,
            },
            {
                title: 'AlpineJs',
                value: 100,
            },
            {
                title: 'Scrum',
                value: 70,
            },
            {
                title: 'Figma',
                value: 100,
            },
            {
                title: 'Wordpress',
                value: 100,
            },
            {
                title: 'Photoshop/Illustrator',
                value: 80,
            },
        ]
        };
    }
}
</script>