<template>
  <div class="container p-5">

    <div class="p-2 md:p-10">
        <div class="relative">
            <NuxtLink to="/" class="text-4xl hover absolute left-0 top-0">
                <
            </NuxtLink>
            <h1 class="text-3xl">Experience</h1>
            <div style="height:1px;" class="w-32 m-auto mt-1 bg-app-second"></div>
        </div>
        <div class="relative wrap overflow-hidden md:p-10 h-full hidden md:block">
            <div class="border-2-2 absolute border-opacity-20 border-app h-full border" style="left: 50%"></div>
                <!-- right timeline -->
                <div v-for="(experience, index) in experiences" :key="experience.index" class="w-full">
                    <div class="mb-8 flex justify-between items-center w-full right-timeline" v-if="index % 2 === 1">
                        <p class="order-1 w-5/12 text-app text-right">{{experience.date}}</p>
                        <div class="z-20 flex items-center order-1 bg-app w-8 h-8 rounded-full">
                            <h1 class="mx-auto font-semibold text-lg text-white">{{index+1}}</h1>
                        </div>
                        <div class="order-1 bg-app-2 rounded w-5/12 px-6 py-4">
                            <span class="bg-app-second py-1 px-3 text-app rounded text-xs"> {{experience.type}} </span>
                            <h3 class="mb-3 font-bold text-app text-xl mt-3">{{experience.title}}</h3>
                            <h4 class="mb-3 font-bold text-app text-md">{{experience.subtitle}}</h4>
                            <p class="text-sm leading-snug tracking-wide text-gray-900 text-left p-3">{{experience.content}}</p>
                        </div>
                    </div>
                    <!-- left timeline -->
                    <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline" v-if="index % 2 === 0">
                        <p class="order-1 w-5/12 text-app text-left">{{experience.date}}</p>
                        <div class="z-20 flex items-center order-1 bg-app w-8 h-8 rounded-full">
                            <h1 class="mx-auto text-white font-semibold text-lg">{{index+1}}</h1>
                        </div>
                        <div class="order-1 bg-app-2 rounded w-5/12 px-6 py-4">
                            <span class="bg-app-second py-1 px-3 text-app rounded text-xs"> {{experience.type}} </span>
                            <h3 class="mb-3 font-bold text-app text-xl mt-3">{{experience.title}}</h3>
                            <h4 class="mb-3 font-bold text-app text-md">{{experience.subtitle}}</h4>
                            <p class="text-sm leading-snug tracking-wide text-gray-900 text-left p-3">{{experience.content}}</p>
                        </div>
                    </div>
                </div>
                

        </div>
        <div class="relative wrap overflow-hidden h-full mt-10 block md:hidden">
            <!-- left timeline -->
                <div  v-for="(experience, index) in experiences" :key="experience.index" class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline" >
                    <div class="bg-app-2 rounded px-6 py-4 w-full text-left">
                        <h3 class="mb-3 font-bold text-app text-sm">{{index}}. {{experience.date}}</h3>
                        <span class="bg-app-second py-1 px-3 text-app rounded text-xs"> {{experience.type}} </span>
                        <h3 class="mb-3 font-bold text-app text-xl mt-3">{{experience.title}}</h3>
                        <h4 class="mb-3 font-bold text-app text-md">{{experience.subtitle}}</h4>
                        <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">{{experience.content}}</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="flex w-full justify-evenly relative bottom-0 left-0 mb-10 mt-5">
        <NuxtLink to="/portfolio" class="button--app hover">
                Continue with my portfolio
        </NuxtLink>
    </div>
  </div>
</template>

<script>
export default {
    data(){
    return{
        experiences:[
            {
                type: 'Studies',
                date: 'Jun 2010 - Jun 2015',
                title: 'Icesi University, Cali, Colombia',
                subtitle: 'Interactive media designer',
                link:'',
                content: '',
            },
            {
                type: 'Work experience',
                date: 'Jan 2012 - Jun 2015',
                title: 'Owak, Cali, Colombia',
                subtitle: 'Web Developer',
                link:'',
                content: 'My job was to develop web applications in Laravel based on some requirements, designing databases, models, views 	and controllers.',
            },
            {
                type: 'Work experience',
                date: 'Jan 2012 - Today',
                title: 'Freelance, Cali, Colombia',
                subtitle: 'UX Designer - Full Stack Developer',
                link:'',
                content: 'In my work as a freelancer, I am in charge of serving clients who arrive with a digital idea and I help them carry 	it out with prototypes (ux / ui), custom developments, 	ecommerce among other developments <br> The technologies that I handle for this type of clients are mostly woocommerce for medium-sized ecommerce, laravel for full stack developments, on some cases vue for the frontend <br> I carry out the design of prototypes and interfaces in figma achieving high quality prototypes that give the user 	an idea of ​​what the final product would be like',
            },
            {
                type: 'Studies',
                date: 'Jun 2017',
                title: 'EdTeam - Online course',
                subtitle: '"Laravel desde cero"',
                link:'',
                content: '',
            },
            {
                type: 'Studies',
                date: 'Jul 2017',
                title: 'EdTeam - Online course',
                subtitle: '"Gestion y Desarrollo de Proyectos web"',
                link:'',
                content: '',
            },
            {
                type: 'Work experience',
                date: 'Jun 2018 - Dic 2020',
                title: 'Ziel, Cali, Colombia',
                subtitle: 'IT project manager',
                link:'',
                content: '• my job at ziel is to distribute and organize digital projects in a team, understanding what needs and 						requirements each client has to reach a digital solution. • I schedule tasks in trello for the team and keep track of them',
            },
            {
                type: 'Studies',
                date: 'May 2021',
                title: 'Udemy - Online course',
                subtitle: '"Master en Frameworks JavaScript: Aprende Angular, React, Vue"',
                link:'https://www.udemy.com/certificate/UC-41a5b187-77b5-4e94-a51f-3927636c1024/',
                content: '',
            },
        ]
        };
    }
}
</script>