<template>
  <div class="container-home">
    <div>
      <!-- <Logo /> -->
      <h2 class="title hover text-4xl fadeInDown ">Andres Arcila</h2>
      <div style="height:1px;" class="w-32 m-auto mt-1 bg-app-second"></div>
      <h1 class="subtitle mt-4">
        Product Designer - Full Stack Developer
      </h1>
      
      <div class="mx-5">
        <div class="links mt-5">
          <NuxtLink to="/about" class="my-1 button--app hover w-full md:w-auto md:mr-1">
            About
          </NuxtLink>
          <NuxtLink to="/experience" class="my-1 button--app hover w-full md:w-auto md:mr-1">
            Experience
          </NuxtLink>
          <NuxtLink to="/portfolio" class="my-1 button--app hover w-full md:w-auto">
            Portfolio
          </NuxtLink>
        </div>
        
        <NuxtLink to="/work-with-me" class="my-1 button--app-second hover w-full">
            Work With Me
        </NuxtLink>
        <a href="https://bright.com.co" class="my-1 button--app hover w-full">
            My clothing brand
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container-home {
  margin: 0 auto;
  min-height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
