<template>
  <div class="container p-5">

    <div class="p-2 md:p-10">
        <div class="relative">
            <NuxtLink to="/" class="text-4xl hover absolute left-0 top-0">
                <
            </NuxtLink>
            <h1 class="text-3xl">My Work</h1>
            <div style="height:1px;" class="w-32 m-auto mt-1 bg-app-second"></div>
        </div>
        <div class="md:p-10 grid grid-cols-1 md:grid-cols-2 gap-4">
            <div v-for="proyect in proyects" :key="proyect.index" class="w-full">
                <div class=" hover:shadow-xl relative">
                    <img :src="proyect.img" alt="" class="w-full hover" >
                    <div class="px-4 py-4 md:px-10 bg-app-2 pt-10 rounded" style="margin-top:-5%;">
                        
                        <h1 class="font-bold text-lg">
                            {{proyect.title}}
                        </h1>
                        <p class="py-4 text-left">
                            {{proyect.content}}
                        </p>
                        <div v-for="tag in splitJoin(proyect.tags)" v-text="tag" :key="proyect.index" class="bg-app-second py-1 px-3 text-app rounded text-xs m-1 inline-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex w-full justify-evenly relative bottom-0 left-0 mb-10">
        <NuxtLink to="/" class="my-2 button--app hover w-full md:w-auto">
            Home
        </NuxtLink>
         <NuxtLink to="/work-with-me" class="my-2 button--app-second hover w-full md:w-auto">
            Let´s work together
        </NuxtLink>
    </div>
  </div>
</template>

<script>
export default {
    data(){
    return{
        proyects:[
            {
                title: 'Pregadeus',
                tags: 'Web development,Ecommerce,Woocommerce,UX',
                content: '',
                link: '',
                img: 'pregadeus.png'
            },
            {
                title: 'Handi',
                tags: 'Prototype,Figma,UX,Design thinking,Project management',
                content: '',
                link: '',
                img: 'handi.png'
            },
            {
                title: 'HealthGo',
                tags: 'Prototype,Figma,UX,UI,Design thinking',
                content: '',
                link: '',
                img: 'healthgo.png'
            },
            {
                title: 'Bright',
                tags: 'Web development,Ecommerce,Woocommerce,UX,Project management',
                content: '',
                link: '',
                img: 'bright.png'
            },
            {
                title: 'Impulsate',
                tags: 'Prototype,Figma,UX,Design thinking,Project management',
                content: '',
                link: '',
                img: 'Impulsate.png'
            },
            {
                title: 'Tuzu',
                tags: 'Web development,Ecommerce,Woocommerce',
                content: '',
                link: '',
                img: 'tuzu.png'
            },
            {
                title: 'Mensajeros',
                tags: 'Prototype,Marvel app,Geolocalization,UX,UI,Design thinking,Project management',
                content: '',
                link: '',
                img: 'mensajeros.png'
            },
            {
                title: 'Felipe Gallego',
                tags: 'Web development,Portfolio,3D Web',
                content: '',
                link: '',
                img: 'felipegallego.png'
            },
            {
                title: 'Prototipo - Portal empresarios',
                tags: 'Protoype,Marvel App,UX,UI',
                content: '',
                link: '',
                img: 'camara-comercio.png'
            },
            {
                title: 'Innocuidad Alimentaria',
                tags: 'Web development,E-Learning,Woocommerce,Learn Press',
                content: '',
                link: '',
                img: 'innocuidad.png'
            },
            {
                title: 'Vonn',
                tags: 'Web development,Ecommerce',
                content: '',
                link: '',
                img: 'vonn.png'
            },
            {
                title: 'Dr. Jen Ospina',
                tags: 'Web development,Landing page,Multi language',
                content: '',
                link: '',
                img: 'drjen.png'
            },
            {
                title: 'Ana Lucia Bermudez',
                tags: 'Web development',
                content: '',
                link: '',
                img: 'analucia.png'
            },
            {
                title: 'Gaphant',
                tags: 'Web development,Ecommerce',
                content: '',
                link: '',
                img: 'gaphant.png'
            },
            {
                title: 'Gonseguros',
                tags: 'Web development',
                content: '',
                link: '',
                img: 'gonseguros.png'
            },
            {
                title: 'Inverminerales',
                tags: 'Web development',
                content: '',
                link: '',
                img: 'inverminerales.png'
            },
            {
                title: 'Siona',
                tags: 'Web development,Ecommerce',
                content: '',
                link: '',
                img: 'siona.png'
            },
            {
                title: 'Unicancer',
                tags: 'Web development',
                content: '',
                link: '',
                img: 'unicancer.png'
            },
            {
                title: 'Buril',
                tags: 'Web development,Ecommerce',
                content: '',
                link: '',
                img: 'buril.png'
            },
        ]
        };
    },
    methods: {
        splitJoin(theText){
            return theText.split(',');
        }
    } 
}
</script>