<template>
  <div class="container p-5">
    
    <div class="p-2 md:p-10">
        <div class="relative">
            <NuxtLink to="/" class="text-4xl hover absolute left-0 top-0">
                <
            </NuxtLink>
            <h1 class="text-3xl">Work together</h1>
            <div style="height:1px;" class="w-32 m-auto mt-1 bg-app-second"></div>
        </div>
        <div>
            <div class="links mt-5">
                <a href="https://api.whatsapp.com/send?phone=573147915309" class="my-2 button--app-second hover w-full md:w-auto">
                    Write me
                </a>
                <a href="mailto:andresarcila2@me.com" class="my-2 button--app-second hover w-full md:w-auto">
                    Send a mail
                </a>
                <a href="tel:+573147915309" class="my-2 button--app-second hover w-full md:w-auto">
                    Call me
                </a>
            </div>
        </div>
        
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
        skills:[
            {
                title: 'Design Thinking',
                value: 100,
            },
            {
                title: 'HTML5',
                value: 100,
            },
            {
                title: 'UX',
                value: 100,
            },
            {
                title: 'UI',
                value: 60,
            },
            {
                title: 'Sass',
                value: 100,
            },
            {
                title: 'Bootstrap/Tailwind/Materialize',
                value: 100,
            },
            {
                title: 'Laravel',
                value: 80,
            },
            {
                title: 'AlpineJs',
                value: 100,
            },
            {
                title: 'VueJs',
                value: 70,
            },
            {
                title: 'Nuxt',
                value: 70,
            },
            {
                title: 'Scrum',
                value: 70,
            },
            {
                title: 'Figma',
                value: 100,
            },
            {
                title: 'Wordpress',
                value: 100,
            },
            {
                title: 'Photoshop/Illustrator',
                value: 80,
            },
        ]
        };
    }
}
</script>